apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: insights-mcp-server-stg

patches:
  - target:
      kind: HTTPRoute
      name: insights-mcp-server
    patch: |-
      - op: replace
        path: "/spec/hostnames/0"
        value: insights.mcp.zilstg.dev
      - op: replace
        path: "/spec/parentRefs/0/name"
        value: gke-gateway
      - op: replace
        path: "/spec/parentRefs/0/namespace"
        value: gke-gateway-stg
  - target:
      kind: ConfigMap
      name: insights-mcp-server
    patch: |-
      - op: add
        path: /data/OBSERVABILITY_MCP_URL
        value: "http://observability-mcp.observability-mcp-stg.svc.cluster.local:3000/mcp"
  - target:
      kind: GCPBackendPolicy
      name: insights-mcp-server
    patch: |-
      - op: replace
        path: "/spec/default/securityPolicy"
        value: staging-gateway